{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Catapum</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/X6ltMs.jpg" class="img-thumbnail">
        <p>

        </p>
    </div>
</div>

{{> footer }}